In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv
import sys

sys.path.append("/home/souly/Desktop/ml/ml-project1")
from src import helpers, preprocessing, exploration

In [11]:
x_df = pd.read_csv("../data/raw/x_train.csv")
y_df = pd.read_csv("../data/raw/y_train.csv")

useful_col = dict.fromkeys(x_df.columns, 'No')

# from elisa
useful_col['GENHLTH'] = 'Yes' #same as ex
useful_col['MENTHLTH'] = 'Yes' #same as ex
useful_col['PHYSHLTH'] = 'Yes' #same as ex
useful_col['HLTHPLN1'] = 'Yes' #same as ex
useful_col['MEDCOST'] = 'Yes' #same as ex
useful_col['CHECKUP1'] = 'Yes'
useful_col['CVDSTRK3'] = 'Yes' #same as ex
useful_col['CHCSCNCR'] = 'Yes'
useful_col['CHCOCNCR'] = 'Yes'
useful_col['CHCCOPD1'] = 'Yes'
useful_col['ADDEPEV2'] = 'Yes'
useful_col['DIABETE3'] = 'Yes' #same as ex
useful_col['SEX'] = 'Yes'
useful_col['MAXDRNKS'] = 'Yes'
useful_col['EXEROFT1'] = 'Yes'
useful_col['_RFHLTH'] = 'Yes'
useful_col['_HCVU651'] = 'Yes'
useful_col['_RFHYPE5'] = 'Yes' #same as ex
useful_col['_RFCHOL'] = 'Yes'
useful_col['_ASTHMS1'] = 'Yes'
useful_col['_DRDXAR1'] = 'Yes'
useful_col['_RACE'] = 'Yes'
useful_col['_BMI5'] = 'Yes' #same as ex
useful_col['_AGEG5YR'] = 'Yes'
useful_col['_SMOKER3'] = 'Yes'
useful_col['_DRNKWEK'] = 'Yes'
useful_col['_FRTLT1'] = 'Yes' #same as ex
useful_col['_VEGLT1'] = 'Yes' #same as ex
useful_col['_TOTINDA'] = 'Yes' #same as ex
useful_col['FC60_'] = 'Yes'
useful_col['PA1MIN_'] = 'Yes'

mask = []
for (k, v) in useful_col.items():
    if (v == "Yes"):
        mask.append(k)

x_df[mask]

,GENHLTH,PHYSHLTH,MENTHLTH,HLTHPLN1,MEDCOST,CHECKUP1,CVDSTRK3,CHCSCNCR,CHCOCNCR,CHCCOPD1,...,_RACE,_AGEG5YR,_BMI5,_SMOKER3,_DRNKWEK,_FRTLT1,_VEGLT1,_TOTINDA,FC60_,PA1MIN_
0,2.0,1.0,5,1,2.0,1.0,2,2.0,2,2,...,1,8,20.78,1,0,2,1,1,4.61,200.0
1,4.0,88.0,88,1,2.0,1.0,2,2.0,2,2,...,1,8,28.70,1,99900,9,9,9,4.91,NaN
2,2.0,77.0,77,1,2.0,1.0,2,2.0,2,2,...,1,10,NaN,3,93,1,1,1,4.11,90.0
3,1.0,88.0,88,1,2.0,1.0,2,2.0,2,2,...,1,10,27.96,1,0,2,1,1,4.11,1560.0
4,2.0,88.0,88,1,2.0,1.0,2,2.0,2,2,...,1,14,24.39,9,99900,1,1,1,999.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328130,2.0,88.0,88,1,2.0,1.0,2,1.0,1,2,...,1,8,24.69,3,1000,1,1,1,4.91,195.0
328131,1.0,88.0,88,1,2.0,1.0,2,2.0,2,2,...,1,8,24.39,3,0,1,1,1,5.10,942.0
328132,3.0,88.0,1,1,2.0,1.0,2,2.0,2,2,...,1,10,58.53,4,0,1,2,1,3.92,120.0
328133,3.0,88.0,88,1,2.0,1.0,2,2.0,2,2,...,1,5,35.87,4,0,2,2,1,6.23,28.0
328134,2.0,7.0,7,1,1.0,1.0,2,2.0,2,2,...,1,7,22.81,4,0,1,1,1,4.99,0.0

In [12]:
x = x_df[mask].values
y = y_df.values

In [29]:
from src.helpers import split_data_rand
from sklearn.linear_model import LogisticRegression
from src.preprocessing import undefined_to_median, undefined_to_mean, prune_undefined

ratio = 0.2
y_test, x_test, y_train, x_train = split_data_rand(y, x, ratio)

def nan_to_mean(x):
    mean = np.nanmean(x_train, axis=0)
    ids = np.where(np.isnan(x_train))
    x_train[ids] = np.take(mean, ids[1])

undefined_to_median(x_train)
undefined_to_median(x_test)

assert(not np.isnan(x_train).any())
assert(not np.isnan(x_test).any())

model = LogisticRegression()
model.fit(x_train, y_train)
print(model.score(x_test, y_test))
pred = model.predict(x_test)

/home/souly/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9110122358175751

/home/souly/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(